{% extends '@App/base.html.twig' %}

{% block title %}
  Là c'est de la musique
    {% endblock %}

  {% block content %}
    <!-- Header -->
    <header class="header" id="top">
      <div class="text-vertical-center">
        <h1>Là c'est de la musique</h1>
        <h3>Education Musiquale</h3>

      </div>
    </header>
      <!-- About -->
      <section id="about" class="about">
          <div class="container text-center">

          </div>
          <!-- /.container -->
      </section>
    <!-- Callout -->
    <aside class="callout">
      <div class="text-vertical-center">
        <h1>Séquences</h1>
          <hr class="small">
      </div>
    </aside>

    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
            <div class="row">
              <div class="col-md-6">
                <div class="portfolio-item">
                  <a href="#">
                    <img class="img-portfolio img-fluid" src="{{ asset('bundles/app/Default/img/6eme.jpg') }}">
                  </a>
                  <div class="image-info">
                    <a href="#" class="fa fa-search fa-stack-1x text-primary"></a>
                    <div class="title">
                      <h2><a href="#">6ème</a></h2>
                    </div> <!-- .title -->
                    <div class="description">
                      <p></p>
                    </div> <!-- .description -->
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="portfolio-item">
                  <a href="#">
                    <img class="img-portfolio img-fluid" src="{{ asset('bundles/app/Default/img/5eme.jpg') }}">
                  </a>
                  <div class="image-info">
                    <a href="#" class="fa fa-search fa-stack-1x text-primary"></a>
                    <div class="title">
                      <h2><a href="#">5ème</a></h2>
                    </div> <!-- .title -->
                    <div class="description">
                      <p></p>
                    </div> <!-- .description -->
                    <a href="#" class="readmore">Read more<span></span></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="portfolio-item">
                  <a href="#">
                    <img class="img-portfolio img-fluid" src="{{ asset('bundles/app/Default/img/4eme.jpg') }}">
                  </a>
                    <div class="image-info">
                        <a href="#" class="fa fa-search fa-stack-1x text-primary"></a>
                        <div class="title">
                            <h2><a href="#">4ème</a></h2>
                        </div> <!-- .title -->
                        <div class="description">
                            <p></p>
                        </div> <!-- .description -->
                        <a href="#" class="readmore">Read more<span></span></a>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="portfolio-item">
                  <a href="#">
                    <img class="img-portfolio img-fluid" src="{{ asset('bundles/app/Default/img/3eme.jpg') }}">
                  </a>
                    <div class="image-info">
                        <a href="#" class="fa fa-search fa-stack-1x text-primary"></a>
                        <div class="title">
                            <h2><a href="#">3ème</a></h2>
                        </div> <!-- .title -->
                        <div class="description">
                            <p></p>
                        </div> <!-- .description -->
                        <a href="#" class="readmore">Read more<span></span></a>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="portfolio-item">
                  <a href="#">
                    <img class="img-portfolio img-fluid" src="{{ asset('bundles/app/Default/img/4emeCHAM.jpg') }}">
                  </a>
                    <div class="image-info">
                        <a href="#" class="fa fa-search fa-stack-1x text-primary"></a>
                        <div class="title">
                            <h2><a href="#">4ème CHAM</a></h2>
                        </div> <!-- .title -->
                        <div class="description">
                            <p></p>
                        </div> <!-- .description -->
                        <a href="#" class="readmore">Read more<span></span></a>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="portfolio-item">
                  <a href="#">
                    <img class="img-portfolio img-fluid" src="{{ asset('bundles/app/Default/img/3emeCHAM.jpg') }}">
                  </a>
                    <div class="image-info">
                        <a href="#" class="fa fa-search fa-stack-1x text-primary"></a>
                        <div class="title">
                            <h2><a href="#">3ème CHAM</a></h2>
                        </div> <!-- .title -->
                        <div class="description">
                            <p></p>
                        </div> <!-- .description -->
                        <a href="#" class="readmore">Read more<span></span></a>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="portfolio-item">
                  <a href="#">
                    <img class="img-portfolio img-fluid" src="{{ asset('bundles/app/Default/img/Chorale.jpg') }}">
                  </a>
                    <div class="image-info">
                        <a href="#" class="fa fa-search fa-stack-1x text-primary"></a>
                        <div class="title">
                            <h2><a href="#">Chorale</a></h2>
                        </div> <!-- .title -->
                        <div class="description">
                            <p></p>
                        </div> <!-- .description -->
                        <a href="#" class="readmore">Read more<span></span></a>
                    </div>
                </div>
              </div>
            </div>
            <!-- /.row (nested) -->
            <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
          </div>
          <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>

  {% endblock %}

