<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Là c'est de la musique</title>

    {% block stylesheets %}


    <!-- Bootstrap Core CSS -->

    <link href="{{asset('bundles/app/Default/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom Fonts -->

    <link href="{{ asset('bundles/app/Default/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{{ asset('bundles/app/Default/css/stylish-portfolio.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/Default/css/tab-portfolio.css') }}" rel="stylesheet">

    {% endblock %}
  </head>

  <body>
    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle">
          <i class="fa fa-times"></i>
        </a>
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#top">Là c'est de la musique</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="#top">Home</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="#about">About</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="#services">Services</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="#contact" onclick=$( "#menu-close").click();>Contact</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header class="header" id="top">
      <div class="text-vertical-center">
        <h1>Là c'est de la musique</h1>
        <h3>Free Bootstrap Themes &amp; Templates</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg js-scroll-trigger">Find Out More</a>
      </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
      <div class="container text-center">
        <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
        <p class="lead">This theme features some wonderful photography courtesy of
          <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
      </div>
      <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside class="callout">
      <div class="text-vertical-center">
        <h1>Vertically Centered Text</h1>
      </div>
    </aside>

    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
            <h2>Niveaux</h2>
            <hr class="small">
            <div class="row">
              <div class="col-md-6">
                <div class="portfolio-item">
                  <a href="#">
                    <img class="img-portfolio img-fluid" src="{{ asset('bundles/app/Default/img/portfolio-1.jpg') }}">
                  </a>
                    <div class="image-info">
                        <a href="#" class="fa fa-search fa-stack-1x text-primary"></a>
                        <div class="title">
                            <h2><a href="#">Chorale</a></h2>
                        </div> <!-- .title -->
                        <div class="description">
                            <p></p>
                        </div> <!-- .description -->
                        <a href="#" class="readmore">Read more<span></span></a>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="portfolio-item">
                  <a href="#">
                    <img class="img-portfolio img-fluid" src="{{ asset('bundles/app/Default/img/portfolio-2.jpg') }}">
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="portfolio-item">
                  <a href="#">
                    <img class="img-portfolio img-fluid" src="{{ asset('bundles/app/Default/img/portfolio-3.jpg') }}">
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="portfolio-item">
                  <a href="#">
                    <img class="img-portfolio img-fluid" src="{{ asset('bundles/app/Default/img/portfolio-4.jpg') }}">
                  </a>
                </div>
              </div>
            </div>
            <!-- /.row (nested) -->
           <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
          </div>
          <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>

    <!-- Call to Action -->
    <aside class="call-to-action bg-primary text-white">
      <div class="container text-center">
        <h3>The buttons below are impossible to resist.</h3>
        <a href="#" class="btn btn-lg btn-light">Click Me!</a>
        <a href="#" class="btn btn-lg btn-dark">Look at Me!</a>
      </div>
    </aside>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
            <h4>
              <strong>Là c'est de la musique</strong>
            </h4>
                <i class="fa fa-envelope-o fa-fw"></i>
                <a href="mailto:name@example.com">name@example.com</a>
              </li>
            </ul>
            <br>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook fa-fw fa-3x"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter fa-fw fa-3x"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-dribbble fa-fw fa-3x"></i>
                </a>
              </li>
            </ul>
            <hr class="small">
            <p class="text-muted">Copyright &copy; lacestdelamusique 2017 crée par bsfcreationsweb.fr</p>
          </div>
        </div>
      </div>
      <a id="to-top" href="#top" class="btn btn-dark btn-lg js-scroll-trigger">
        <i class="fa fa-chevron-up fa-fw fa-1x"></i>
      </a>
    </footer>
{% block javascript %}
    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('bundles/app/Default/vendor/jquery/jquery.min.js') }}"></script>
   <script src="{{ asset('bundles/app/Default/vendor/popper/popper.min.js') }}"></script>
   <script src="{{ asset('bundles/app/Default/vendor/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ asset('bundles/app/Default/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for this template -->
   <script src="{{ asset('bundles/app/Default/js/stylish-portfolio.js') }}"></script>

{% endblock %}
  </body>

</html>
