{% extends '@App/base.html.twig' %}
{% block title %}Séquences{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/Default/css/liste-sequences.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}

    <div>
        <ul>
            <li>
                <a href="{{ path('sequence') }}">
                <img class="img-responsive" src="{{ asset('bundles/app/Default/img/seq1.jpg') }}" />
                <h3>Headline</h3>
                <p>Lorem ipsum dolor sit amet...</p>
                </a>
            </li>

            <li>
                <a href="{{ path('sequence') }}">
                <img class="img-responsive" src="{{ asset('bundles/app/Default/img/seq2.jpg') }}" />
                <h3>Headline</h3>
                <p>Lorem ipsum dolor sit amet...</p>
                </a>
            </li>

            <li>
                <a href="{{ path('sequence') }}">
                <img class="img-responsive" src="{{ asset('bundles/app/Default/img/seq3.jpg') }}" />
                <h3>Headline</h3>
                <p>Lorem ipsum dolor sit amet...</p>
                </a>
            </li>

            <li>
                <a href="{{ path('sequence') }}">
                <img class="img-responsive" src="{{ asset('bundles/app/Default/img/seq4.jpg') }}" />
                <h3>Headline</h3>
                <p>Lorem ipsum dolor sit amet...</p>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}