{% extends '@App/base.html.twig' %}
{% block title %}Séquences{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/Default/css/liste-sequences.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}
    <div>
        <ul>
{% for sequence in sequences %}
    <li>
        <a href="{{ path('sequence') }}">
            <img class="img-responsive" src="{{ asset('bundles/app/Default/img/seq2.jpg') }}" />
            <h3>{{ sequence.title }}</h3>
            <p>{{ sequence.summary }}</p>
        </a>
    </li>
    {% endfor %}

        </ul>
    </div>
{% endblock %}