{% extends '@App/backend/base.html.twig' %}
{% block title %}Liste des Séquences{% endblock title %}
{% block body %}
    <h1>Sequences list</h1>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>{{'Title'|trans  }}</th>
                <th>{{ 'Summary'|trans }}</th>
                <th>{{ 'Comment'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for sequence in sequences %}
            <tr>
                <td>{{ sequence.title }}</td>

                <td>{{ sequence.summary|length>100 ? sequence.summary|slice(0, 100)~ '...' : sequence.summary }}</td>
                <td>{{ sequence.comment|length>100 ? sequence.comment|slice(0, 100)~ '...' : sequence.comment }}</td>
                <td class="text-center">

                            <a class="btn btn-info" href="{{ path('backend_sequence_show', { 'id': sequence.id }) }}">{{ 'show'| trans }}</a>

                            <a class="btn btn-primary" href="{{ path('backend_sequence_edit', { 'id': sequence.id }) }}">{{ 'edit'| trans }}</a>
                    {{ form_start(delete_forms[sequence.id]) }}
                    <a href="#"
                       class="btn btn-danger" onclick="submit()">{{ 'Delete'| trans }}</a>
                    {{ form_end(delete_forms[sequence.id]) }}


                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a class="btn btn-success" href="{{ path('backend_sequence_new') }}">{{ 'Create a new sequence'| trans }}</a>

{% endblock %}
