{% extends '@App/backend/base.html.twig' %}
{% block title %}
    {{ sequence.title }}
{% endblock %}
{% block body %}
    <h1>{{ sequence.title }}</h1>
    <div class="container-fluid">
<h4>
    {{ 'Summary' | trans }}
</h4>
        <blockquote>
            <p>
                {{ sequence.summary }}
            </p>
        </blockquote>

        <h4>
            {{ 'Comment' | trans }}
        </h4>
        <blockquote>
            <p>
                {{ sequence.comment }}
            </p>
        </blockquote>

        <a class="btn btn-info" href="{{ path('backend_sequence_index') }}">{{ 'Back to the list' | trans }}</a>

        <a class="btn btn-success" href="{{ path('backend_sequence_edit', { 'id': sequence.id }) }}">{{ 'Edit' | trans }}</a>

        {{ form_start(delete_form) }}

        <a href="#" class="btn btn-danger" onclick="submit()">{{ 'Delete'| trans }}</a>
        {{ form_end(delete_form) }}

    </div>



{% endblock %}
